body h1{
    padding: 20px;
    color: #500404;
    text-align: center;
    font-family: 'Farsan';
    font-size: 70px;
}
body h3{
    color: #500404;
    text-align: center;
    font-family: 'Farsan';
    font-size: 40px;
}
body h5{
    color: #500404;
    font-family: 'Farsan';
    font-size: 35px;  
}
body {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 19px;
    background-image: url(https://i.pinimg.com/originals/48/7c/65/487c65c76efabe1f8ed89f92e863ce8d.jpg);
}

.navbar{
    background-color: rgb(247, 227, 203);
}
div .frank{
    background-color: rgb(133, 23, 23);
    width: 240px;
    height: 200px;
    border: 1px solid rgb(133, 23, 23);
    color: white;  
    border-radius: 5px;
    margin-left: 20px;
}
div .fra{
    background-image: url(/images/descarga\ \(1\).jpg);  
    width: 240px;
    height:auto ;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-left: 20px;
}
div .exo{
    background-color: rgb(133, 23, 23);
    width: 240px;
    height: 200px;
    border: 1px solid rgb(133, 23, 23);
    color: white;  
    border-radius: 5px;
    margin-left: 20px;
}

div .exor{
    background-image: url(https://1.bp.blogspot.com/-oDTM_Vn_HPo/UytgR0wsdNI/AAAAAAAADyk/pZkbzDag50s/s1600/9788492682607.jpg);  
    width: 240px;
    height:auto ;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-left: 20px;
}
.romper{
    width: 150px;
    height: auto;
}
    

